.form {
  display: grid;
  grid-template-columns: 600px;
  grid-template-rows: repeat(4, 60px);
  align-items: center;
  justify-content: center;
  grid-row-gap: 5px;
  box-sizing: border-box;
}

label {
  font-size: 1.1rem;
  font-weight: 700;
}

.form__field {
  box-sizing: border-box;
  padding: 5px 0 5px 5px;
  width: 100%;
}

textarea.form__field {
  resize: none;
}

.form__choose {
  margin-left: 20px;
}

.form__btn {
  cursor: pointer;
  width: 200px;
  margin-left: auto;
  padding: 10px 0;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border: none;
  background: rgb(122, 100, 223);
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
}

.form__btn:focus {
  outline: none;
}