.full_post {
  margin-top: 50px;
  display: grid;
  grid-template-rows: 50px, 1fr, 50px;
  row-gap: 20px;
}

.title {
  text-align: left;
  font-size: 1.5rem;
}

.text {
  font-size: 1.125rem;
}

.tag {
  font-size: 1rem;
  font-weight: 500;
}

.wrapper {
  display: flex;
  width: 300px;
  justify-content: space-between;
  align-items: center;
}

.btn {
  cursor: pointer;
  width: 200px;
  height: 30px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border: none;
  background: rgb(122, 100, 223);
  font-size: 18px;
  font-weight: 700;
  color: #fff;
}

.home {
  font-size: 1.125rem;
  text-decoration: none;
  color: #000;
}

.home i {
  padding-right: 5px;
}